* {
	box-sizing: border-box;
	overflow: hidden;
	background-color: #000000;
	font-family: "Raleway", sans-serif;
  }
  .main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  .stack {
	width: 140px;
	height: 500px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: end;
	transition: 1s all ease-in;
  }
  .stack .cube {
	height: 50px;
	border: 3px solid #fff;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 25px;
  }
  .main .functions {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .main .functions button {
	margin-top: 1rem;
	margin-right: 10px;
	color: #000;
	padding: 15px 50px;
	font-weight: 600;
	border: none;
	background-color: #fff;
	border-radius: 30px;
	cursor: pointer;
	font-size: 20px;
	transition: 0.5s all ease-in;
  }
  .main .functions button:hover {
	opacity: 0.7;
  }
  .content {
	margin: 0rem 0rem 2rem 0rem;
	color: #fff;
  }
  .content .product {
	font-weight: bolder;
	font-size: 35px;
  }
  .content .creator {
	font-weight: 500;
	font-size: 20px;
  }

  .size{
	color: #000000;
  }

  input{
	margin-top: 1rem;
	margin-right: 10px;
	color: #000;
	padding: 15px 50px;
	font-weight: 600;
	border: none;
	background-color: #fff;
	border-radius: 30px;
	font-size: 20px;
	transition: 0.5s all ease-in;
  }